# cp
snippet cp "basic cp template"
	#include<bits/stdc++.h>
	using std::cout, std::cin, std::ios;

	typedef int64_t ll;

	#define nline '\n';

	void solve() {
		${0}
	}

	int32_t main() {
		ios::sync_with_stdio(false);
		cin.tie(nullptr);

		int tc = 1;
		cin >> tc;
		while (tc--) {
			solve();
		}

		return 0;
	}
